node_modules
build
artifacts
cache
yarn-error.log
local*.json
gasLogs.json
scripts/deployConst.js

aptos-artifacts
.DS_Store
.env

.vscode
chain-config/*.json
.aptos
!./**/artifacts/send_receive.wasm
