name: Verify Cli Examples

on: pull_request

jobs:
    test-cosmos-examples:
        runs-on: ubuntu-22.04
        name: 'Test Cosmos Examples'
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: 'npm'

            - name: Fix unsupported platform error for fsevents
              run: sed -i 's/darwin/linux/g' package-lock.json

            - name: Install Dependencies
              run: npm ci

            - name: Create .env file
              run: |
                  # Dummy private key created for testing purpose only, it is not secret
                  npm run setup

            - name: Compile EVM Smart Contracts
              run: npm run build

            - name: Override config/ci.json
              run: |
                  echo '{"cosmos": {"enabled": true},"multiversx": {"enabled": false}}' > config/ci.json

            - name: Test
              run: |
                  NODE_ENV=ci npm run test:cosmos

    test-evm-examples:
        runs-on: ubuntu-22.04
        name: 'Test EVM Examples'
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: 'npm'

            - name: Fix unsupported platform error for fsevents
              run: sed -i 's/darwin/linux/g' package-lock.json

            - name: Install Dependencies
              run: npm ci

            - name: Create .env file
              run: |
                  # Dummy private key created for testing purpose only, it is not secret
                  npm run setup

            - name: Compile EVM Smart Contracts
              run: |
                  npm run build

            - name: Override config/ci.json
              run: |
                  echo '{"cosmos": {"enabled": false},"multiversx": {"enabled": false}}' > config/ci.json

            - name: Test
              run: |
                  NODE_ENV=ci npm run test:evm

    test-multiversx-examples:
        runs-on: ubuntu-22.04
        name: 'Test Multiversx Examples'
        services:
            elasticsearch:
                image: 'docker.elastic.co/elasticsearch/elasticsearch:8.12.0'
                env:
                    discovery.type: single-node
                    xpack.security.enabled: false
                ports:
                    - '9200:9200'
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: 'npm'

            - name: Prerequisites
              run: |
                  pip3 install multiversx-sdk-cli==v9.3.1
                  mxpy localnet setup
                  cp -rf ./examples/multiversx/external.toml ./localnet/validator00/config
                  cp -rf ./examples/multiversx/external.toml ./localnet/validator01/config
                  cp -rf ./examples/multiversx/external.toml ./localnet/validator02/config

            - name: Fix unsupported platform error for fsevents
              run: sed -i 's/darwin/linux/g' package-lock.json

            - name: Install Dependencies
              run: npm ci

            - name: Create .env file
              run: |
                  # Dummy private key created for testing purpose only, it is not secret
                  npm run setup

            - name: Override config/ci.json
              run: |
                  echo '{"cosmos": {"enabled": false},"multiversx": {"enabled": true}}' > config/ci.json

            - name: Compile EVM Smart Contracts
              run: |
                  npm run build

            - name: Test
              run: |
                  mxpy localnet start &
                  sleep 120
                  NODE_ENV=ci npm run test:multiversx
